@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.profile{
  display: block;
  text-align: center;
}
.name{
  font-weight: 700;
}
.stats{
display: flex;
flex-wrap: nowrap;
gap: 30px;
}
.label,.tag,.location{
  color:	#808080;
}
.stats__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.quantity{
  font-weight: 500;
}